/* ----------------------------- Geral -----------------------------------------*/
:root{
    --primary-color: rgba(160, 16, 26, 1);
    --primary-color-light: rgba(160, 16, 26, 0.85);
    --primary-color-light-2: rgba(171, 47, 56, 1);
    --primary-color-light-3: rgba(174, 65, 72, 1);    
    --secondary-color: rgba(238, 238, 238, 1);
}

.wrapper{
    padding: 1.5rem;
    width: min(96rem, 100%);
    margin-inline: auto;
}

body{
    font-family: 'Signika', sans-serif; 
}

body h1{
    font-weight: 700;
    margin: 0;
}

body h2{
    font-weight: 700;
    margin: 0;
}

body h3{
    font-weight: 600;
    margin: 0;
}

body p{
    font-weight: 400;
    margin: 0;
}

/* ----------------------------- NAVBAR */
.navbar{
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-toggler{
    border: none;
}

.navbar-close-menu{
    visibility: hidden;
}

.navbar-logo-botao{
    display: flex;
    gap:5rem;
}

.nav-link{
    font-weight: 700;
    font-size: 16px;
}

/* ----------------------------- BOTAO */
.btn-padrao{
    padding-left: 7.375rem;
    padding-right: 2.344rem;
    padding-block: 0.5rem;
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    border-radius: 3.125rem;
}


/* ----------------------------- FOOTER ----------------------------------------- */

/* ----------------------------- LINKS - TELAS*/
#links-telas{
    background-color: var(--primary-color-light-2);    
}

#links-telas .links-telas-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#links-telas .link-telas-row1{
    margin-bottom: 1.5rem;
}

#links-telas a{
    font-size: 12px;
    text-decoration: none;
    color: white;
}

/* ----------------------------- REDES SOCIAIS*/
#redes .wrapper{
    padding-block: 0.813rem;
}

#redes .redes-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#redes .logo img{    
    /* margin-right: 6rem; */
}

#redes .redes-icones{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

/* COPYRIGHT */
#copyright .copyright-dall{
    background-color: var(--primary-color-light-2);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#copyright .copyright-dall p{
    font-size: 10px;
    font-weight: 400;
    margin-block: 0.5rem;
}