/* ----------------------------- Geral -----------------------------------------*/
:root{
    --primary-color: rgba(160, 16, 26, 1);
    --primary-color-light: rgba(160, 16, 26, 0.85);
    --primary-color-light-2: rgba(171, 47, 56, 1);
    --primary-color-light-3: rgba(174, 65, 72, 1);    
    --secondary-color: rgba(238, 238, 238, 1);
    --dark-letter-primary:rgba(0, 0, 0, 1);
    --dark-letter-secondary: rgba(0, 0, 0, 0.75);
    --light-letter-primary: rgba(249, 245, 240, 1);
}

.wrapper{
    padding: 1.5rem;
    width: min(96rem, 100%);
    margin-inline: auto;
}

body{
    font-family: 'Signika', sans-serif; 
}

body h1{
    font-weight: 700;
    margin: 0;
}

body h2{
    font-weight: 700;
    margin: 0;
}

body h3{
    font-weight: 600;
    margin: 0;
}

body p{
    font-weight: 400;
    margin: 0;
}

/* ----------------------------- NAVBAR */
.navbar{
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-toggler{
    border: none;
}

.navbar-close-menu{
    visibility: hidden;
}

.navbar-logo-botao{
    display: flex;
    gap:5rem;
}

.nav-link{
    font-weight: 700;
    font-size: 16px;
}

/* ----------------------------- BOTAO */
/* .btn-padrao{
    padding-left: 7.375rem;
    padding-right: 2.344rem;
    padding-block: 0.5rem;
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    border-radius: 3.125rem;
} */


/* ----------------------------- FOOTER ----------------------------------------- */

/* ----------------------------- LINKS - TELAS*/
#links-telas{
    background-color: var(--primary-color-light-2);    
}

#links-telas .links-telas-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#links-telas .link-telas-row1{
    margin-bottom: 1.5rem;
}

#links-telas a{
    font-size: 12px;
    text-decoration: none;
    color: var(--light-letter-primary);
}

/* ----------------------------- REDES SOCIAIS*/
#redes .wrapper{
    padding-block: 0.813rem;
}

#redes .redes-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#redes .logo img{    
    width: 3.7rem;
    height: 1.6rem;
}

#redes .redes-icones{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

/* COPYRIGHT */
#copyright .copyright-dall{
    background-color: var(--primary-color-light-2);
    color: var(--light-letter-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#copyright .copyright-dall p{
    font-size: 10px;
    font-weight: 400;
    margin-block: 0.5rem;
}

.whatsapp-link{
    position: fixed;
    z-index: 999;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    background-color: #24d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
}


.fa-whatsapp{
    margin-top: 16px;
}

/* ---------------- RESPONSIVO */

@media (min-width: 992px){
    .wrapper{
        width: max(80rem);   
    }

    /* ---------------- FOOTER */
    #copyright .copyright-dall p{
        font-size: 12px;
    }

    .whatsapp-link{
        bottom: 40px;
        right: 40px;
    }

}